@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/hinted-subset-GothamPro-Bold.woff2') format('woff2'),
	url('../fonts/hinted-subset-GothamPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/hinted-subset-GothamPro.woff2') format('woff2'),
	url('../fonts/hinted-subset-GothamPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}